<!DOCTYPE html>
<html>

<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.2.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.2.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.2.min.js"></script>

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NYC Airports Flight Stats</title>
	<link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.2.min.css" rel="stylesheet" type="text/css">
	<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.2.min.css" rel="stylesheet" type="text/css">
	<link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.2.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/foundation.css">
	<link rel="stylesheet" href="../static/css/app.css"> 
	</head>
  
	<body>
		<div class="grid-container">
			<div class="grid-x grid-padding-x">
				<div class="small-12 medium-12 large-12 cell text-center">
					<br>
					<h1>Airline Flights at NYC Airports</h1>
					<h3>Built with Flask, Bokeh, regex, and more</h3>
					<hr>
				</div>
			</div>
			<div class="grid-x grid-padding-x align-center-middle">
				<div class="small-3 medium-3 large-3 cell align-center-middle">
					<h5>This site is open source - visit the <a href="https://github.com/sld2157/nyc-top-airlines">github repo</a> for the source</h5>
					<br>
					<h5>Original data provided by <a href="https://www.panynj.gov/airports/traffic-statistics.html">Port Authority of NY & NJ</a></h5>
					<br>
				</div>
				<div class="small-9 medium-9 large-9 cell text-center">
					{{ the_div|safe }}
					{{ the_script|safe }}
				</div>
			</div>
		</div>
	<br>
	</body>
</html>
