<!DOCTYPE html>
<html>
  <head>
    <title>Bar charts with Bokeh!</title>
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.2.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.2.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.2.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Bugs found over the past {{ bars_count }} days</h1>
    {{ the_div|safe }}
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.2.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.2.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.2.min.js"></script>
    {{ the_script|safe }}
  </body>
</html>